# Queries are defined in sections beginning with 'query_'.
# Characters following this prefix will be used as a prefix for all metrics
# generated for this query
# Result columns listed in QueryValueColumns will be exported as metrics, while any
# other columns will be used a labels.
[query_transactions_p]
QueryIntervalSecs = 5
QueryStatement = select count(1) as purchase from transaction where date > date_sub(now(), interval 1 minute) and last_state='purchase';
QueryValueColumns = purchase

[query_transactions_d]
QueryIntervalSecs = 5
QueryStatement = select count(1) as decline from transaction where date > date_sub(now(), interval 1 minute) and last_state='decline';
QueryValueColumns = decline

[query_transactions_e]
QueryIntervalSecs = 5
QueryStatement = select count(1) as error from transaction where date > date_sub(now(), interval 1 minute) and last_state='error';
QueryValueColumns = error
