#{
# "wg": false,
# "push_auth": false,
# "server_id": "5ef27ddeace2398addb12a7f",
# "token_ttl": 172800,
# "user_id": "5eed0b30e9453ce90a3c4de5",
# "sync_secret": "ZfMCA1CtGoabPC8qadxY2jI8relLooz6",
# "password_mode": null,
# "token": false,
# "server": "{{ VPN_SERVER_NAME }}",
# "organization_id": "5eed0b30e9453ce90a3c4dd6",
# "sync_token": "u7EQHBbPFlloAgh1kPHHklogGKTV4jw3",
# "disable_reconnect": false,
# "version": 1,
# "user": "oz-remote-default",
# "sync_hosts": [
#  "https://{{ VPN_SERVER_PUBLIC_IP }}:{{ VPN_SERVER_WEB_PORT }}"
# ],
# "server_box_public_key": "z5mNbZIvjs9tu21boPeQ7KzTIzR9+5hlXL+UBnrwlHw=",
# "organization": "oz-clouds",
# "sync_hash": "6c82f685a1152f96cde58f4b9192cb6b",
# "server_public_key": [
#  "-----BEGIN RSA PUBLIC KEY-----",
#  "MIICCgKCAgEA0GJSx6W7MLwjRhvDcWnZ5IET1ibZVT33+gIoy342DVtW9OVxy4TV",
#  "Xb9ZKQosftkIoMHpxJXePoCjQE+V32PruvF2hcomY5yYozo+wzjkMnWbb4Z3n/TT",
#  "QZufBJmP0x3Niju0dGYduylwtaDCLwdZ9RfL7PirunbosHpGlkIyI5UCDnH0DLS8",
#  "/lC4DumBXtJvhy3lXxxVgBTXaNpzoSmn3TVOeEK6JxIV6hrOdwbR/7aXvyytS9mT",
#  "xjWpRG/p+VfU5uhiYkPSeHRksZoJCH/GVEKP0J5yNy7hRMHOpwCLqRKw/k0yWF5t",
#  "jmPuyn3L1zmoHWKz+4BCRzZg0flhoZc4rXubDMn3TejJFBKTJspFwaDLy3GkXofF",
#  "OO0JqC+ud5JEw735sRtp+KAJ7C8jXbfx/4YKJykVKAYb22KQ94ELX69K2jfLQBRA",
#  "35IAnsI1o0iDrtU4C51nsC6zKJGjXGEcURnvrzknXXwJcd+3iP9/wUAT7LupYMSt",
#  "gEDTKq+eMGcTX63fzBqEzS7oCCksV5AHHwIJq23CaO+1ChPlmJZLCI52daapLMqc",
#  "crlcS5uLtpQdd8NI9vuPnKxoXc6juJQhol2QGChJo2GB/N54O7diFXjrd5oTq/4U",
#  "jSL56r/x5ZQ9WVnENTFUzr+jdricKp8Dczp/VYsZPpz+s6Pgdi2hJmsCAwEAAQ==",
#  "-----END RSA PUBLIC KEY-----"
# ],
# "push_auth_ttl": 172800
#}
setenv UV_ID a3844e5ece424e4c9e3dfda7c1631102
setenv UV_NAME summer-fields-6636
client
dev tun
dev-type tun
remote {{ VPN_SERVER_PUBLIC_IP }} {{ VPN_SERVER_VPN_PORT }} tcp-client
nobind
persist-tun
cipher AES-128-CBC
auth SHA1
verb 2
mute 3
push-peer-info
ping 10
ping-restart 60
hand-window 70
server-poll-timeout 4
reneg-sec 2592000
sndbuf 393216
rcvbuf 393216
max-routes 1000
remote-cert-tls server
comp-lzo no
key-direction 1
<ca>
-----BEGIN CERTIFICATE-----
MIIFcTCCA1mgAwIBAgIIWXD1mDy/vXgwDQYJKoZIhvcNAQELBQAwRjEhMB8GA1UE
CgwYNWVlZDBiMzBlOTQ1M2NlOTBhM2M0ZGQ2MSEwHwYDVQQDDBg1ZWVkMGIzMGU5
NDUzY2U5MGEzYzRkZGEwHhcNMjAwNjE5MTkwMDAwWhcNNDAwNjE0MTkwMDAwWjBG
MSEwHwYDVQQKDBg1ZWVkMGIzMGU5NDUzY2U5MGEzYzRkZDYxITAfBgNVBAMMGDVl
ZWQwYjMwZTk0NTNjZTkwYTNjNGRkYTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCC
AgoCggIBAOnLggSB5O4SdCuq6QbOX1z6IBsUbYoAxMbKKaShugTWg8WBEHtZ4ky5
36B4YI0Bx4oAIcgQ/h595CpbWY5rP3Vuk72O5GkKLyC3hgptiULjsgX0L9WM+f+A
7sbQSHJ1TVTIZmlDDpmuI24aYz80RXL6djC0pM3NIG3Ds7N8XGA3lmkNTQvh1q4a
bW8AI8uxH6orhuYa38cgf8WC4B1qO240lK+DpWzH869p973/qWuNUGihLqVKq0k8
7jIs2QzuJsjTqjkFlu+ZX0i+A/fVfzBRaaW5MvziL1f8XkFGe/WjbekTRQO9zha2
BbZLAqjVoUS4uHkEWWqJNYRyVa4wnBnymcWfab4zlJV3BxO59KCDfrK14uodmlpK
ubijThLBvFF5AKMycMT8OpD1bPRPrA9sV3rwEsYJ+rckyBTQh36A0Yemp4ayWQJ2
WqSPTuEFDtD5KM14TMdejzra4MQ+uT9HN6cBYfivL4aeWuZ2PyJ6m3CeXytW1cdW
Bg/t5PYmA/mIYuaKYSpPM5yqF0nUrH3+vewWNY2I4+Msk2+z1sLHEqhsU0YovQns
yosw30a4UIBHyoDJKiQWT0FOd4bApP7MjZjnEr/NaBatWl2ty5a/EoL54y0XSb6n
21ZWyq7/5aLtJUg9DELKNqPXnCQdQ5opYF/CzPcpGKCVPHTOQi4HAgMBAAGjYzBh
MA4GA1UdDwEB/wQEAwIBBjAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBSm6FAa
Wm+KHuXGSOZ94N5bY2Yf5TAfBgNVHSMEGDAWgBSm6FAaWm+KHuXGSOZ94N5bY2Yf
5TANBgkqhkiG9w0BAQsFAAOCAgEAe5kLqND/MjmX+zfxRBcWOfm3PChn698VJd/x
lrh9vaJoTohjL7PHhq3ASQ9oDgRjeiNlb+qbDahJHdD8a5gp+7mFjYvsgy1EZock
Ci242KE2elNiq4pMFg3efmbwbTjbK0hAbPHI9KUDzFtKpBxtJaz7od+q6FEyLo74
oWMZdMOzaKJEROPbfDe3OiiUloK/LncaoKLW+sSRnDJNeulU4T1iuOcKONMC204e
cgaQ9wCYa8TMripsWZr5VUWvF+S4pbK7sJrup485Gi7tuW1S7e76jwNcIvwjOVZY
y9abiI/iarUgP+xTDFvha2rN7+OB3BrStj/xd7R7K3NVvy/SJuUXzmXWJdx5ze/+
vF1T5UZL4N8PeJ0q+5Cg8lDRY9GGDiqGccwyyDBc9fQwdvzZULYGe9xchSCDhkwq
Un93+jOtM5q3vD/XqZriU/keuOjYus7SU2BhvBM6ljZM2DYDLhvS/nVjM/Mk3E0B
ZHEtimKW7kb0u7r9o+rXE5wbeBiAjLX7sHe86ediWfuNfbOKzc0xd8nq5D77jIw9
sKB3aZHoec2L+0vOeIsh2vkTklllpnqa/0nwKolZpQlp1XCZl5XxpIU/lBemH79r
SK5ce5Z25VCy9u5SQhe2qtZk84DnzvOQuRI2eU0fM/FLFmKIFoIS2/oUu6Tj+gEC
ectZS8c=
-----END CERTIFICATE-----
</ca>
<tls-auth>
#
# 2048 bit OpenVPN static key
#
-----BEGIN OpenVPN Static key V1-----
7874b5701842edd84e5c4499b67550ed
c8d23f0decfa4013bbfd2e6e6afe290b
81ea8578b373c60a1311f22d7de4b8ba
f28357bd59349e4475f2a54ea82fbcff
b63de195fed9f0f59eeefefe96b9a624
005bed9500b6e17feb3368954eb8bb79
34d70fd378bb34e40580669247980e11
6c4c0540172a8741569618f19a63042a
617b1d8f6a099f1ed851548af87017cf
116ad1d8ce4a33ca4176f8e2078f7fd2
a8a716a3cdb6dba375ff672b1bab626a
31ec75276986b0bfa799713287e83b27
d139c453d338059c4246102901a30021
a1dd8d519ba8f1dc1f670a5ff710e02b
1bd164a150fba6d558eeb69418e4e20c
f96a15d766541585be17109863ec8cea
-----END OpenVPN Static key V1-----
</tls-auth>
<cert>
-----BEGIN CERTIFICATE-----
MIIFgDCCA2igAwIBAgIIWW29mDy9KHkwDQYJKoZIhvcNAQELBQAwRjEhMB8GA1UE
CgwYNWVlZDBiMzBlOTQ1M2NlOTBhM2M0ZGQ2MSEwHwYDVQQDDBg1ZWVkMGIzMGU5
NDUzY2U5MGEzYzRkZGEwHhcNMjAwNjE5MTkwMDAxWhcNNDAwNjE0MTkwMDAxWjBG
MSEwHwYDVQQKDBg1ZWVkMGIzMGU5NDUzY2U5MGEzYzRkZDYxITAfBgNVBAMMGDVl
ZWQwYjMwZTk0NTNjZTkwYTNjNGRlNTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCC
AgoCggIBANg4lKj5eMDm1TVdQYUBtSQFLzvaHVIIkkLGKFcFt4v5RgJxuvFt62P2
bRv1kx65kd8ixj1ypwrLyh5YS9U73QF3bsjAH9dDqL5dckkpR2zfo+tHeM6ju1gB
uzJOPvWIfJzwN4v5y2nXenpLH8GbQun3VCRvGrhmxejMOjDENSXHqBeVzq9f/BXP
TfyJEoFaqO8PE+bRezsWwrzpl8OsjCkUi7h16KKzmIkpskcVxGJHodlYKOBrtOlN
McEcUi8cSgkVDqXyvsMsTsUeJ+e56K2p8uZa4vtRghjohZDOLxsCwxOLJMFytKCG
ymG3joaIDPUM0ELcyyxHA6AFr8CiILXWzQavZC1ZdCTdwdwtSzCIoLrO0VLyKjFO
n3MN68ja2t2VTPS7ZedMaZJn9PC2X0f2ITT9I6SPjMd22tm7OQYgIb6TPD8ToZ82
DcSGx4br9eP42eNj0A3RUqtBCKoazbyntkqwdRNgAslxvwoRA7tpiuwDqVG//mvk
egawjPUzjwCmOQ9w5htLyBq0z+Vpjz+rGakutZPtyfsHsourCreif5jQRtIdiC3u
Gv+OXsRvp2f7FZwdoXi7N54Ug7qNC9dBtxtJHf5QCT2stFXq+lZK9K3fYEsah6+g
STFLERtKARnwRSk8zOj4rpaMVeJbm4o14vWK6adTt6UqkLTwI8tdAgMBAAGjcjBw
MA4GA1UdDwEB/wQEAwIFoDAJBgNVHRMEAjAAMBMGA1UdJQQMMAoGCCsGAQUFBwMC
MB0GA1UdDgQWBBTWIdTKRgza0iL8mGUpBlKDVgcUbjAfBgNVHSMEGDAWgBSm6FAa
Wm+KHuXGSOZ94N5bY2Yf5TANBgkqhkiG9w0BAQsFAAOCAgEAXTknl1fDuzWX8Vx7
ppIiDy1zVnDGS0iadjo3FmTuKlddb9ATkoIifedd8TLA2HHlIn4+s+JK3+Kt2b6V
tElAP8fzoAE9kSkvIlSr73hYyvJsVRACRRpHbvIO333vU4u68oA535+1j1T6woha
a1k8/dycGbUUyHfN9dODaMfd50mUFt6bqQLwejY0rGZDPsKcw6m8JSB3MzRjE5FM
8+LVR9ba1E/2AXVmERk0o/yMtqKtGPymTFJYYRfu3sxuzul+sauPo7rp5simMKXf
W+38ZEoU0EpAKM09O2YbUiJ+uWHMNxc3ftRS+mBt43c3WYZOKHGz+F8mFEvAHs9F
hAHGN9FLt9EmV+W54AUNcA3V3TsExGXjPcVwRLhdVnRWyyQN9iyQdt6Pzi00kOqI
jl9CqVnnxub0eilV+Mcd0/NSfZ9Pxo0FcTZ9dNTMjCPo0RQ98yT0+vfgs4X7cDMq
08x142K7z0/CO/V2/ppN1Wb7gGNkXcHcNPHOYXkrc+yqiEnlcG2gocNaJJ3w1roP
y28+X04Ted8ioIJ6piiSSsoolF7+cLUWisNpDs1tcqyeyRWDZQvbk9Mb7zsZaKaG
LFgVcBPSvT1DeH4RCLCFuFCEQVI3iudYZ9wlvS+rFMUXQ71KzqZWHr0KUol/prpC
uIEP+wYTewiBCtQxNJpsLOWSzEY=
-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN PRIVATE KEY-----
MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQDYOJSo+XjA5tU1
XUGFAbUkBS872h1SCJJCxihXBbeL+UYCcbrxbetj9m0b9ZMeuZHfIsY9cqcKy8oe
WEvVO90Bd27IwB/XQ6i+XXJJKUds36PrR3jOo7tYAbsyTj71iHyc8DeL+ctp13p6
Sx/Bm0Lp91Qkbxq4ZsXozDowxDUlx6gXlc6vX/wVz038iRKBWqjvDxPm0Xs7FsK8
6ZfDrIwpFIu4deiis5iJKbJHFcRiR6HZWCjga7TpTTHBHFIvHEoJFQ6l8r7DLE7F
HifnueitqfLmWuL7UYIY6IWQzi8bAsMTiyTBcrSghspht46GiAz1DNBC3MssRwOg
Ba/AoiC11s0Gr2QtWXQk3cHcLUswiKC6ztFS8ioxTp9zDevI2trdlUz0u2XnTGmS
Z/Twtl9H9iE0/SOkj4zHdtrZuzkGICG+kzw/E6GfNg3EhseG6/Xj+NnjY9AN0VKr
QQiqGs28p7ZKsHUTYALJcb8KEQO7aYrsA6lRv/5r5HoGsIz1M48ApjkPcOYbS8ga
tM/laY8/qxmpLrWT7cn7B7KLqwq3on+Y0EbSHYgt7hr/jl7Eb6dn+xWcHaF4uzee
FIO6jQvXQbcbSR3+UAk9rLRV6vpWSvSt32BLGoevoEkxSxEbSgEZ8EUpPMzo+K6W
jFXiW5uKNeL1iumnU7elKpC08CPLXQIDAQABAoICAQCuFVfzd+/196O/dFbVHJvX
5WizGpgyvP3tTxeZgNvXkZoBS8oEqcg0UmpkcWLDAQtmCNxtCstc0Njpd5OOmcUF
ckA61xyLt0i8BAaIyvhbuu+B9ahZTs/+Ol6aUQ81pm8V9/3w7+wLSlas8aEewr+s
Gdqf/ugXgX9kQFG1g7N6uHYojw+6eWA/uwmCAmZoyTJsTspqM0yxNVESwkvTWi/6
vzUDDcOAg3KTNIP54ZecvSmdEPLQRUeB8wnU/dVZYsBk8ZQ6nediwmClKfNdCXxB
niwXtSM8ztIc9dDb1nVsnNus94FfUtgEyqFU7XGN9SnhfjCLNLNL8d0EUK/BO4dz
BJ9ZZoqGHrMiEu1a2LY2ADfYLcK7i/ie1n8uxKGWXKfTWrdZXpKWvXiAzOrZIhD4
5Mf0GowrtdtYbXMS+qjmrl/poCUkwbR32U56iF0VEmdWvp5TXxzO20P+wummmTbY
v8DYpXYhw4PhLYUtARnUPuej5V/z3PJoXVZyvVhxzxZFL30pbLaDiuc6xqFnXj4v
oq7YIIvs8M5WIHk2rSFS/pKz8doCWTJ4TQpZRpM0BFSHE/Q0IgXmIsqvkEtPidl1
k2Vyrmw3O8xDYyMwiorj1b7oNIAUmq3Px9+ZK6OK2zpwswj3CcDuFutoKBQK8Ng+
QKqNxKxBee5WX87SRf/n7QKCAQEA+AKwVDOciFy2DdVhnPwawukOXywTwnfQNuAd
Zf0PUew5EBvVAPJauI6WfFHB0cqOL7jbE1AT4MwurkYXocdfvp6Hylr9SsxIj7+P
Wc90Et9qlX3CwKzWIy1Z5TiC+sz1hDAfo5H0zZfoolwqWnp7VOISthgCNQ0c9LVv
WA/kVnpNO2XVr4y60z9LbjIlE/Tx68Lu9aCsJH811BJg6XnEd+M82xDJF1Bv1HlQ
KVUhd+J8uSMPkYQ4cfSl92E3c3OhuydwPjNuRfUmhE6p+BTyUpHZfFNr3lMxS97R
Z8NrPBzWQX7W/V9NKqvVtN/Lo1NDkJKFUmOLKOnZCI8cJa4OuwKCAQEA3y+6Yl7f
OVk32hJIyPFLGaNaTHnXjjANxiCL/bf0NJCnzCKI0kc8rfEbQ+f4aKESzhB5EY5A
pNwEaiZmOpdiglYWnN8KS9y12wv33ZAoZF0TTb7FttlibGL0JLNcQHVxKycmiCuD
8fHBxtS56ECYK2KvO9wRxXjjOuW+E+nofq+Pm6kfeqQHWk82Osg0JW1yCe0vOEfn
dSrGD7O2uxqO3OXPuzbNBHeX6O/Pf65M6l29oAGKVDj2mF6UGJldczNdSnaLr81D
0HFVm2Ex8wFr+3Bj7+OQamVledvu6jaz6tYwoLYT0oHz2qgfhmwfjisuCdKvXVVn
MCp6W1GEvVmIxwKCAQA/+xmYL1RjjV9eBD1RbWxN+ie9/7X9RkGN1pVe+UDZhpJW
CIgT3XHwCMDjw4e34oR55TuHKPJn3OTyCp0QHEoj9+vaFU0g3cCebPHDXpR4RfDO
LgpvAGeh3ZJCYyjPIM750hxna0D3RQg70oEOpGhqxoPDPEBdhUuCCch2tGrYsGZ6
O1Q8HJcZ5ktEW2VbV6aNhtV0woWGSNcPJcqgkMxRjWrmrNbjz9l5u+4lK5QdxG0e
qd/bT3vsUgv63Lacbyk7CfqX4VbCb3MHUO/iUy0MhhnQTAkY6uddxlbJaQ2iDWJs
tRcreEmFB51zMwTq1pEom9QPJCUDYgief6ToR5X/AoIBADHSj8MB9sbwmb0+s6zX
4LH6e1/zGyGMrKZ8AYREGmnZmPvDAdQfPvZ9il6gXB3PR0lk+AHpRZkH3JxtsgiG
XuFFooqmZ8ADpz0c8NovIjU1aefDHJPy9zvG40WGHKPvE7JUbQ+c1zmdhGqEdnPY
Z5/XydKNEBKLJ/6v5ry/TL1rJ53SJUrVbybD5BE/PBTW18xLfG0N8CeBwvEiZzph
dV7ulm7ujtnecLT5Q9L28AipoHklnuGqTbI5+sl7AxeCceL7j7dRFUBk7H1hNytO
N/LLZiPZIxX9SKfpZu42A/f6lKRrwQUPKYa4XUE+xdSQ4xgiRi+Jrx1bfjEAg6dZ
Y2UCggEAH7ixIH2l2nYSCAQIV8lUfA/1stEaF69n7Dv35MNuvjJAzBfwE/dbLZ3x
tFrH8xF9F5GxR40T/ebSvWTcehNPdBNClVF9dhAhkiOWJSnxsoTlMuXsw1fWUcLj
PZJWStOCpX9g1fHwk0iFrDl64rNJxHqEZktgOpwaj+9AX7UC9KVKKyewanhWuOHW
7NPJ3fX0ncuK9RZBRoBLAT3ObYE8ABuajHvMJt2BooG6rYm8QS+AjeCYw2ZiAYLN
TC9xB9jfNc2NtP2QfwzpV7FnuBPx1DW5UbSNEeji/uqVAcLyuvB6nzmazgJkcZEv
NP56OiUHySaRp9gorugeOaDWPi0pFw==
-----END PRIVATE KEY-----
</key>