<!DOCTYPE html>
<html>
<head>
<title>Welcome to Vortex baby!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to Vortex baby!</h1>
{% for int in show_count %}

{% if int == 11 %}
{{ line }}

{% endfor }}
<p><em>{{ tv_show }} go start, motherfucker.</em></p>

<p>If you see this page, the nginx web server is successfully installed and
working. Further configuration is required.</p>

<p>For online documentation and support please refer to
<a href="https://vless.ru/">vless.ru</a>.<br/>
Commercial support is available at
<a href="https://vless.ru/">vless.ru</a>.</p>

<p><em>Thank you for using vless Vortex, baby.</em></p>


</body>
</html>