# Base DIT
dn: ou=People,dc=vortex,dc=co
ou: People
objectClass: top
objectClass: organizationalUnit
description: Parent object of all UNIX accounts

dn: ou=Groups,dc=vortex,dc=co
ou: Groups
objectClass: top
objectClass: organizationalUnit
description: Parent object of all UNIX groups