# Groups
dn: cn=Administrators,ou=Groups,dc=vortex,dc=co
objectClass: posixGroup
objectClass: top
cn: Administrators
gidNumber: 1000
description: Administrators

dn: cn=Services,ou=Groups,dc=vortex,dc=co
objectClass: posixGroup
objectClass: top
cn: Services
gidNumber: 1001
description: Read-Only service users
