{
  "type": "{{ google_cloud_account_type }}",
  "project_id": "{{ ansible_product_id }}",
  "private_key_id": "{{ google_gcp_private_key_api_token_id }}",
  "private_key": "{{ google_gcp_private_creds_api_token_access_key }}",
  "client_email": "{{ google_gcp_private_creds_client_email }}",
  "client_id": "{{ google_gcp_private_creds_client_id }}",
  "auth_uri": "{{ google_gcp_private_creds_auth_uri }}",
  "token_uri": "{{ google_gcp_private_creds_token_uri }}",
  "auth_provider_x509_cert_url": "{{ google_gcp_private_creds_cert_url }}",
  "client_x509_cert_url": "{{ google_gcp_private_creds_cert_client_xtls }}"
}