ansible/inventories/*/*/*/inventory
ansible/inventories/products/*/*/inventory
ansible/group_vars/products/*/*/attached.yml
ansible/group_vars/products/*/*/main.yml
ansible/group_vars/products/*/*/shared.yml


ansible/group_vars/products/*/main.yml
ansible/group_vars/products/*/vcd.yml
ansible/group_vars/products/*/gcp.yml
ansible/group_vars/products/*/vsphere.yml
ansible/group_vars/products/*/alicloud.yml
ansible/group_vars/products/*/bare.yml
ansible/group_vars/products/*/shared.yml
ansible/group_vars/products/*/zones.yml
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/**/*/*/node_modules

.local
.local/*.*
.cloud
.cloud/
.cloud/*
.cloud/*.*
.trash_bin
.trash_bin/*.*

*.DS_Store
*.log
.idea
.idea/
/production/
__pycache__
services/tests/reports/*
.tmp_bus\.yml

tmp_bus\.yml

.sass-cache

docker-compose-cloud.yml
docker-compose.override.yml
local/init_demo.sh
services/merchant_demo
services/merchant_demo/*.*

Makefile

*.dev
*.dev.yml
*.test.yml

vcd_pysdk\.log
vcd_sdk\.log

vcd.log

/*/*/*.log.*

*/*/*/*.log.*

ansible/.oz_tools/

.alive/

_era_/

ansible/inventories/0z-cloud/products/types/*/*/*/bootstrap_vms/group_vars/.vagrant.cloud.run.yml
ansible/inventories/0z-cloud/products/types/*/*/*/bootstrap_vms/group_vars/.do.cloud.run.yml

docker-compose.yml

ansible/group_vars/products/lf-edge-eve/develop/gcp.yml

services/ogame_php/\.mariadb/**
services/ogame_php/.mariadb/**
services/ogame_php/.mariadb/
services/ogame_php/.mariadb
services/ogame_php/\.mariadb/

