{% extends './_brikker_/placeholder.j2b' %}
{% extends './_brikker_/0z_ll_check_vx.j2b' %}
{% extends './_brikker_/0z_ll_footer_vx.j2b' %}
{% extends './_brikker_/placeholder.j2b' %}
{% extends './_brikker_/placeholder.j2b' %}
{% extends './_brikker_/placeholder.j2b' %}
{% extends './_brikker_/placeholder.j2b' %}
{% extends './_brikker_/placeholder.j2b' %}


{% block placeholder %}
value = custom value in test.j2
{% endblock %}
