
worker_processes  1;

events {
    worker_connections  1024;
    multi_accept off;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server {
        listen 3081;
        {% for host in groups['nginx-frontend'] %}
        allow {{ hostvars[host].ansible_default_ipv4.address }};
        {% endfor %}
        {% for ip in nginx_access_whitelist %}
        allow {{ ip }};
        {% endfor %}
        #deny all;
        location / {
            {% if swarm_disabled_inventory is not defined %}
            proxy_pass http://{{ grafana_overlay_network_ip }}:{{ grafana_internal_service_listen_port }};
            {% else %}
            proxy_pass http://{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}:{{ grafana_internal_service_listen_port }};
            {% endif %}
        }
    }
}