{
	"data_dir": "/opt/consul/data",
  "server": false,
  "encrypt": "{{ consul.master_key }}",
  "datacenter": "{{ consul.datacenter }}",
  "node_name": "{{ consul.consul_name }}",
	"client_addr":"{{ ansible_default_ipv4['address'] }}",
	"recursors": [ "8.8.8.8" ],
	"disable_update_check": false,
  "start_join": [{% for host in groups['consul-masters']%}
  "{{ hostvars[host]['ansible_default_ipv4']['address'] }}" {% if not loop.last %} , {% endif %}{% endfor %} ],
  "retry_join": [{% for host in groups['consul-masters']%}
  "{{ hostvars[host]['ansible_default_ipv4']['address'] }}" {% if not loop.last %} , {% endif %}{% endfor %} ],
  "log_level": "INFO",
  "rejoin_after_leave": true,
  "leave_on_terminate": true,
  "enable_script_checks": true,
  "skip_leave_on_interrupt": false,
  "advertise_addr": "{{ ansible_default_ipv4['address'] }}",
  "advertise_addr_wan": "{{ ansible_default_ipv4['address'] }}"
}