# FOR RUN THE TEST YOU MUST EXPORT YOUR DEPLOY PASSWORD

export ANSIBLE_APPLICATION_TYPE=rails
export ANSIBLE_CI_PROJECT_NAME=eden-vortice
export ANSIBLE_CI_PROJECT_NAMESPACE=vortice
export ANSIBLE_CLOUD_TYPE=vcd
export ANSIBLE_DEPLOY_USERNAME=westsouthnight
export ANSIBLE_ENVIRONMENT=devops
export ANSIBLE_PRODUCT_NAME=eden-vortice
export ANSIBLE_REGISTRY_URL=registry.adam.local.cloud.eve.vortice.eden
export ANSIBLE_REGISTRY_USERNAME=root
export ANSIBLE_RUN_TYPE=true
export ANSIBLE_TRIGGER_TOKEN=VPRP2xQh4o5hqKNkto4
export ANSIBLE_CI_VERSION="2020.05.2004-ffffffff"
export ANSIBLE_SECURITY=minimal
export ANSIBLE_SECURITY=pci
export A_DEPLOY_PASSWORD=12345
export A_VAULT_PASSWORD=asd819hr1br12br18mM
