# FOR RUN THE TEST YOU MUST EXPORT YOUR DEPLOY PASSWORD

export ANSIBLE_APPLICATION_TYPE=rails
export ANSIBLE_CI_PROJECT_NAME=ng-engine-vortex
export ANSIBLE_CI_PROJECT_NAMESPACE=vortex
export ANSIBLE_CLOUD_TYPE=bare
export ANSIBLE_DEPLOY_USERNAME=vortex
export ANSIBLE_ENVIRONMENT=sandbox
export ANSIBLE_PRODUCT_NAME=do-dev
export ANSIBLE_REGISTRY_URL=registry.vortex.com
export ANSIBLE_REGISTRY_USERNAME=root
export ANSIBLE_RUN_TYPE=true
export ANSIBLE_TRIGGER_TOKEN=VPRP2xQh4o5hqKNkto4
export ANSIBLE_CI_VERSION="2019.09.1107-ce981199"
export ANSIBLE_SECURITY=minimal
export ANSIBLE_SECURITY=pci
export A_DEPLOY_PASSWORD=12345
export A_VAULT_PASSWORD=asd819hr1br12br18mM
