 pg_dump -U postgres powerdns_consul1 < powerdns_consul1.pgsql
 pg_dump -U postgres powerdns_consul2 < powerdns_consul2.pgsql
 pg_dump -U postgres powerdns_consul3 < powerdns_consul3.pgsql
 pg_dump -U postgres powerdns_consul4 < powerdns_consul4.pgsql
 pg_dump -U postgres powerdns_consul5 < powerdns_consul5.pgsql

 pg_dump -U postgres powerdns_main_consul1 < powerdns_main_consul1.pgsql
 pg_dump -U postgres powerdns_main_consul2 < powerdns_main_consul2.pgsql
 pg_dump -U postgres powerdns_main_consul3 < powerdns_main_consul3.pgsql
 pg_dump -U postgres powerdns_main_consul4 < powerdns_main_consul4.pgsql
 pg_dump -U postgres powerdns_main_consul5 < powerdns_main_consul5.pgsql