---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: slurm-config-volume
  namespace: {{ slurm_namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 20Mi
  storageClassName: {{ storage_classname }}