STARTUP_ENABLED=Yes
VERBOSITY=1

###############################
######## ZONE BITS SETTINGS
# CURRENT

# ZONE_BITS=0
# DEFAULT ZONE BITS
# ZONE_BITS=0
# WANT 
# ZONE_BITS=3
###############################
######## IP FORWARDING STATE
# CURRENT
IP_FORWARDING=Yes

# BEFORE
# IP_FORWARDING=On
###############################
######## DOCKER ENABLE SETTING
# CURRENT
DOCKER=Yes

# BEFORE
# DOCKER=No
###############################
######## BRIGING ENABLE SETTING
# CURRENT
# BRIDGING=Yes
# CONFIG_BRIDGE_NETFILTER=y
# CONFIG_BRIDGE=y

# BEFORE
# NOT DEFINED
###############################

LOG_LEVEL="info"
BLACKLIST_LOG_LEVEL="info"
INVALID_LOG_LEVEL="info"

LOG_MARTIANS=No
LOG_VERBOSITY=2

LOGFILE=/var/log/shorewall
LOGFORMAT="Shorewall:%s:%s:"
LOGTAGONLY=No
LOGLIMIT="s:1/sec:10"
MACLIST_LOG_LEVEL="$LOG_LEVEL"
RPFILTER_LOG_LEVEL="$LOG_LEVEL"
SFILTER_LOG_LEVEL="$LOG_LEVEL"
SMURF_LOG_LEVEL="$LOG_LEVEL"
STARTUP_LOG=/var/log/shorewall-init.log
TCP_FLAGS_LOG_LEVEL="$LOG_LEVEL"

CONFIG_PATH=":${CONFDIR}/shorewall:${SHAREDIR}/shorewall"
GEOIPDIR=/usr/share/xt_geoip/LE

PATH="/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/usr/local/sbin"
PERL=/usr/bin/perl
RESTOREFILE=restore
SHOREWALL_SHELL=/bin/sh

ACCEPT_DEFAULT="none"
BLACKLIST_DEFAULT="Broadcast(DROP),Multicast(DROP)"
DROP_DEFAULT="Broadcast(DROP),Multicast(DROP)"
NFQUEUE_DEFAULT="none"
QUEUE_DEFAULT="none"
REJECT_DEFAULT="Broadcast(DROP),Multicast(DROP)"
RCP_COMMAND='scp ${files} ${root}@${system}:${destination}'
RSH_COMMAND='ssh ${root}@${system} ${command}'
ACCOUNTING=Yes
ACCOUNTING_TABLE=filter
ADD_IP_ALIASES=No
ADD_SNAT_ALIASES=No
ADMINISABSENTMINDED=Yes
AUTOCOMMENT=Yes
AUTOHELPERS=Yes
AUTOMAKE=Yes
BALANCE_PROVIDERS=No
BASIC_FILTERS=No
BLACKLIST="NEW,INVALID,UNTRACKED"
CLAMPMSS=No
CLEAR_TC=Yes
COMPLETE=No
DEFER_DNS_RESOLUTION=Yes
DELETE_THEN_ADD=Yes
DETECT_DNAT_IPADDRS=No
DISABLE_IPV6=Yes


DYNAMIC_BLACKLIST=Yes
EXPAND_POLICIES=Yes
EXPORTMODULES=Yes
FASTACCEPT=No

IGNOREUNKNOWNVARIABLES=No
IMPLICIT_CONTINUE=No
INLINE_MATCHES=No
IPSET_WARNINGS=Yes

KEEP_RT_TABLES=No
LOAD_HELPERS_ONLY=No
MACLIST_TABLE=filter

MANGLE_ENABLED=Yes
MAPOLDACTIONS=No
MARK_IN_FORWARD_CHAIN=Yes
MINIUPNPD=No
MULTICAST=No
MUTEX_TIMEOUT=60
NULL_ROUTE_RFC1918=No
OPTIMIZE=0
OPTIMIZE_ACCOUNTING=No
PERL_HASH_SEED=0

REQUIRE_INTERFACE=No
RESTART=restart
RESTORE_DEFAULT_ROUTE=Yes
RESTORE_ROUTEMARKS=Yes
RETAIN_ALIASES=No
ROUTE_FILTER=Yes
SAVE_ARPTABLES=No
SAVE_IPSETS=No
TC_ENABLED=Internal
TC_EXPERT=No
TC_PRIOMAP="2 3 3 3 2 3 1 1 2 2 2 2 2 2 2 2"
TRACK_PROVIDERS=No
TRACK_RULES=No
USE_DEFAULT_RT=No
USE_NFLOG_SIZE=No

######## INTERFACE NAME SETTINGS
# CURRENT CHANGES

USE_PHYSICAL_NAMES=Yes

# BEFORE CHANGES
# USE_PHYSICAL_NAMES=No
################################

USE_RT_NAMES=No
VERBOSE_MESSAGES=Yes
WARNOLDCAPVERSION=Yes
WORKAROUNDS=No
ZERO_MARKS=No
ZONE2ZONE=2
BLACKLIST_DISPOSITION=DROP
INVALID_DISPOSITION=CONTINUE
MACLIST_DISPOSITION=ACCEPT
RELATED_DISPOSITION=ACCEPT
RPFILTER_DISPOSITION=DROP
SMURF_DISPOSITION=DROP
SFILTER_DISPOSITION=DROP
TCP_FLAGS_DISPOSITION=DROP
UNTRACKED_DISPOSITION=CONTINUE

SUBSYSLOCK=
TC=

TC_BITS=
PROVIDER_BITS=
PROVIDER_OFFSET=
MASK_BITS=

REJECT_ACTION=

PAGER=
FIREWALL=

LOG_BACKEND=
LOGALLNEW=
RELATED_LOG_LEVEL=
UNTRACKED_LOG_LEVEL=
ARPTABLES=

IPTABLES=
IP=
IPSET=
LOCKFILE=
MODULESDIR=
NFACCT=

DONT_LOAD=

FORWARD_CLEAR_MARK=
HELPERS=

MACLIST_TTL=