######################################################################################################################################################################################################
#ACTION		    SOURCE		    DEST		        PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME	HEADERS		SWITCH		HELPER
#							    PORT	PORT(S)     DEST		LIMIT		GROUP
ACCEPT		    all		        fw		            icmp       -       -               -               s:2/sec
#
# TMP RULE

ACCEPT          all             fw                 tcp          22

{% if inventory_hostname in groups['nginx-frontend'] %}

ACCEPT              all                 fw                          icmp       -       -               -               s:2/sec
#
# TMP RULE
DROP            all             fw                  tcp 9103
DROP            all             fw                  tcp 8080
#ACCEPT         all             all                tcp,udp
ACCEPT          wan             fw                 tcp 11443
ACCEPT          all             fw                 tcp          22
#ACCEPT         wan     fw:195.54.210.26                        tcp                                             53

ACCEPT          wan       fw                      udp                                             53


ACCEPT          brg             wan                             tcp                                             53
ACCEPT          brg             wan                             udp                                             53
#ACCEPT         fw:195.54.210.26        fw:195.54.210.26        udp                                             53
#ACCEPT          fw:195.54.210.26        fw:195.54.210.26        tcp                                             53

ACCEPT          fw              wan:8.8.8.8,8.8.4.4,195.54.210.26               tcp                                             53
ACCEPT          fw              wan:8.8.8.8,8.8.4.4,195.54.210.26               udp                                             53
ACCEPT          brg             wan:8.8.8.8,8.8.4.4,195.54.210.26               tcp                                             53
ACCEPT          brg             wan:8.8.8.8,8.8.4.4,195.54.210.26             udp                                             53
ACCEPT          brg             fw                              tcp                                             53
ACCEPT          brg             fw                              udp                                             53
ACCEPT          brg             vrrp                            tcp                                             53
ACCEPT          brg             vrrp                            udp                                             53



ACCEPT             clu                   fw                                                                     tcp         2376,2377,7946
ACCEPT             clu                   fw                                                                     udp         4789,7946
ACCEPT             fw                    clu                                                                tcp     2376,2377,7946
ACCEPT             fw                    clu                                                                udp     4789,7946
ACCEPT             clu                    clu                                                                tcp     2376,2377,7946
ACCEPT             clu                    clu                                                                udp     4789,7946


##### WIN
ACCEPT             fw                     brg                   tcp 443
{% endif %}










# accept all VMs send events to ossim
# ACCEPT		    all		        esx:10.16.128.252	    udp	    514,1514,162

# ossim
# ACCEPT          all             esx:10.16.128.252     tcp     514,1514,162

# ossec client to ping master
# ACCEPT          all             esx:10.16.128.252     icmp

# ossim to perform internal scan all via tcp
# ACCEPT          esx:10.16.128.252	all		            tcp

# ossim to perform internal scan all via udp
# ACCEPT          esx:10.16.128.252 all                 udp

# accept all VMs to get apt updates from vortex-repo-01
# ACCEPT		all		            else:10.16.131.110   tcp     80

# accept all VMs to get DNS from vortex-dns-01
# ACCEPT		all		            else:10.16.131.51	udp	    53

# accept all VMs to send mail through vortex-dns-01
# ACCEPT		all		            else:10.16.131.51	tcp	    25

# accept all VMs to send logs vortex-rsyslog-01
# ACCEPT		all		            else:10.16.131.150   tcp,udp 514

#### JAVA UPDATES FROM ORACLE CDN

# accept to download java
#ACCEPT		    all		        wan:88.221.133.72   tcp	    80

# oracle-java8-installer
#ACCEPT		    all		        wan:23.61.230.140   tcp	    443

# oracle-java8-installer
#ACCEPT          all             wan:23.214.194.175  tcp     443

# oracle-java8-installer
#ACCEPT          all             wan:23.214.194.175  tcp     80

# orac$
#ACCEPT          all             wan:2.18.72.125     tcp     443

# oracle-java8-installer
#ACCEPT          all             wan:2.18.72.125     tcp     80

# oracle-$
#ACCEPT          all             wan:23.61.215.103   tcp     80

# oracle-$
#ACCEPT          all             wan:23.61.215.103   tcp     443