apiVersion: "kubeadm.k8s.io/v1beta1"
kind: ClusterConfiguration
etcd:
    local:
        serverCertSANs:
        - "{{ hostvars[inventory_hostname].ansible_nodename }}"{% for host in groups['kubernetes-master'] %}{% raw %}
        - "{% endraw %}{{ hostvars[host]['second_ip'] }}"{% raw %}
        - "{% endraw %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}"{% endfor %}{% raw %}
        {% endraw %}peerCertSANs:
        - "{{ hostvars[inventory_hostname].ansible_nodename }}"{% for host in groups['kubernetes-master'] %}{% raw %}
        - "{% endraw %}{{ hostvars[host]['second_ip'] }}"{% raw %}
        - "{% endraw %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}"{% endfor %}{% raw %}
        {% endraw %}extraArgs:{% raw %}
            initial-cluster: "{% endraw %}{% for host in groups['kubernetes-master'] %}{{ hostvars[host].ansible_nodename }}{% raw %}=https://{% endraw %}{{ hostvars[host]['second_ip'] }}{% raw %}:{% endraw %}{{ K8S_CLUSTER_LISTEN_PORT_2380 }}{% if not loop.last %}{% raw %},{% endraw %}{% endif %}{% endfor %}{% raw %}"
            initial-cluster-state: new
            name: {% endraw %}{{ hostvars[inventory_hostname].ansible_nodename }}
            listen-peer-urls: https://{{ hostvars[inventory_hostname]['second_ip'] }}:{{ K8S_CLUSTER_LISTEN_PORT_2380 }}
            listen-client-urls: https://{{ hostvars[inventory_hostname]['second_ip'] }}:{{ K8S_CLUSTER_LISTEN_PORT_2379 }}
            advertise-client-urls: https://{{ hostvars[inventory_hostname]['second_ip'] }}:{{ K8S_CLUSTER_LISTEN_PORT_2379 }}
            initial-advertise-peer-urls: https://{{ hostvars[inventory_hostname]['second_ip'] }}:{{ K8S_CLUSTER_LISTEN_PORT_2380 }}
networking:
    dnsDomain: "{{ public_consul_domain }}"
    podSubnet: "{{ POD_NETWORK_CIDR }}"
    serviceSubnet: "{{ SERVICE_NETWORK_CIDR }}"