## Note, this file is written by cloud-init on first boot of an instance
## modifications made here will not survive a re-bundle.
###
[global]
index-url=https://pypi.org/simple/

[install]
trusted-host=pypi.org