apiVersion: v1
kind: Secret
metadata:
  annotations:
    certmanager.k8s.io/alt-names: {{ item.key }}.{{ public_consul_domain }}
    certmanager.k8s.io/common-name: {{ item.key }}.{{ public_consul_domain }}
    certmanager.k8s.io/issuer-kind: ClusterIssuer
    certmanager.k8s.io/issuer-name: letsencrypt-{{ ansible_environment }}
  creationTimestamp: null
  labels:
    certmanager.k8s.io/certificate-name: letsencrypt-{{ item.key }}
  name: letsencrypt-{{ item.key }}
  selfLink: /api/v1/namespaces/{{ ansible_product }}-{{ ansible_environment }}/secrets/letsencrypt-{{ item.key }}
type: kubernetes.io/tls