
{% raw %} acl ns { {% endraw %} {{ hostvars[inventory_hostname].ansible_default_ipv4.address }} {% raw %}; }; 
{% endraw %}
{% raw %}masters ns { {% endraw %}{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}{% raw %} port {% endraw %}{{ dns_consul_service_listen_port }} {% raw %} ; } {% endraw %}

{% raw %}
;
zone "{% endraw %}{{ merge_consul_domain }}{% raw %}" IN {
     type forward;
     forward first;
     forwarders { {% endraw %}{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}{% raw %}port 8600; };
};
{% endraw %}
{% raw %}
;
zone "{% endraw %}{{ merge_consul_domain }}{% raw %}" IN {
     type forward;
     forward first;
     forwarders { {% endraw %}{{ hostvars[inventory_hostname].ansible_default_ipv4.address }}{% raw %}port 8600; };
};
{% endraw %}



zone "service.woinc.space" IN {
     type forward;
     forward only;
     forwarders { 95.163.76.61 port 8600; };
};

acl ns {  95.163.76.61 ; };
masters ns { 95.163.76.61  port  8600  ; }

;
zone "woinc.space" IN {
      type master;
      file "/etc/bind/new.woinc.space";
      allow-transfer { ns; };
      allow-query { any; };
      notify yes;
      also-notify { ns; };
};

zone "{% endraw %}{{ merge_consul_domain }}{% raw %}" IN {
      type master;
      file "/etc/bind/new.{% endraw %}{{ merge_consul_domain }}{% raw %}";
      
      allow-transfer { ns; };
      allow-query { any; };
      notify yes;
      also-notify { ns; };
};
{% endraw %}