/.idea
*.odg#
.~lock.2017-office-card-data-.odg\#
*.retry
\.DS_Store
\.vagrant/
\.cloud/*
CI/Vagrantfile
0z-cloud/gen_config/*.yml
CI/\.cloud/
CI/logs/*.log
nohup\.out

*.pyc

tmp/

*\alicloud\.yml
\vcd\.yml
\vsphere\.yml
\bare\.yml

*\.dynamic\.cloud\.run\.yml
*\.alicloud\.cloud\.run\.yml
*\.vsphere\.cloud\.run\.yml
*\.vcd\.cloud\.run\.yml
*\.gcp\.cloud\.run\.yml

.idea/
.local/
/.local
*.log
*\vcd_pysdk\.log
*\vcd_sdk\.log