# Add the following lines to /etc/ansible/ansible.cfg
[https]
# enable or disable
verify=enable
# #
[defaults]
force_handlers = True
ANSIBLE_STRATEGY=debug
ANSIBLE_KEEP_REMOTE_FILES=0
enable_task_debugger = True
############################
# hash_behaviour can be replace / merge
hash_behaviour = merge
############################
callback_whitelist = profile_tasks
system_errors = False
host_key_checking = False
host_key_check = False
# ask_sudo_pass = False
retry_files_enabled = False
lookup_plugins = ./plugins/lookup_plugins
action_plugins = ./plugins/action_plugins
callback_plugins = ./plugins/callback_plugins
strategy_plugins = ./plugins/strategy_plugins
timeout = 60
forks = 60
#internal_poll_interval = 0.001
remote_tmp= ~/.tmp/.ansible/.ansible-${USER}/tmp
modules_tmp= ~/.tmp/.ansible/.ansible-${USER}/tmp/modules
local_tmp= ~/.tmp/.ansible/.ansible-${USER}/tmp/local
# any_errors_fatal = False
deprecation_warnings = False
system_warnings = False
command_warnings = False
#host_key_check = False
library = ./modules
module_utils = ./module_utils
interpreter_python = "/usr/bin/env python3"
internal_poll_interval = 0.0001
transport = paramiko
[ssh_connection]
#ssh_args = -F  ~/.ssh/config -o ControlMaster=auto -o ControlPersist=30m
control_path = ~/.ssh/ansible-%%r@%%h:%%p
pipelining = true
scp_if_ssh = True
retries=3
# ssh arguments to use
host_key_check = False
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
