Flask
setuptools
flask_login
flask_sqlalchemy
Flask-WTF
qrcode
python3-ldap
bcrypt
pyotp
dnspython
requests
sqlalchemy-migrate
flask-whooshalchemy
configobj
pygments
markdown
coreapi
Markdown
pyyaml
SQLAlchemy
Flask-OAuthlib
psycopg2
pyvbox
Werkzeug==0.16.0
ldap3
