//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "{{ public_consul_domain }}" {
	type master;
	file "{{ bind_cloud_settings.bind_etc }}/pri/{{ public_consul_domain }}";
};

zone "service.cloud.{{ public_consul_domain }}" {
        type static-stub;
        server-addresses {
                {% for host in groups['cloud-bind-frontend-dns']%}
                {{ hostvars[host]['ansible_default_ipv4']['address'] }};
                {% endfor %}
                };
        };

zone "cloud.{{ public_consul_domain }}" {
        type static-stub;
        server-addresses {
                {% for host in groups['cloud-bind-frontend-dns']%}
                {{ hostvars[host]['ansible_default_ipv4']['address'] }};
                {% endfor %}
                };
        };

// to do. WIP
//	allow-transfer { trusted-servers; };