{
  "smpp": {
    "system_id": "{{ USSD_SMPP_SYSTEM_ID }}",
    "password": "{{ USSD_SMPP_PASSWORD }}",
    "host": "{{ USSD_SMPP_HOST }}",
    "port": {{ USSD_SMPP_PORT }}
  },
  "api": {
    "url": "{{ USSD_API_URL }}"
  }
}